@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300;8..144,700&display=swap");
*,
*:before,
*:after {
   padding: 0;
   margin: 0;
   border: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: calc(14px + 2 * (100vw - 320px) / 1080);
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   background: #fff;
   font-weight: 300;
   font-family: "Roboto Serif", sans-serif;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul,
ol,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

/*--------------------*/
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}

/* ---------------------------------------------------------------------------- */
._container {
   max-width: 980px;
   margin: 0px auto;
   padding: 5px;
}
@media (min-width: 1090px) {
   ._container {
      margin-top: 91px;
   }
}
@media (min-width: 990px) {
   ._container {
      margin-top: 51px;
   }
}

.main-content__body {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}
@media (max-width: 650px) {
   .main-content__body {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
   }
}

.body__imge {
   position: relative;
   padding: 17% 26%;
}
@media (max-width: 650px) {
   .body__imge {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
   }
   .body__imge:not(:last-child) {
      margin: 0px 0px 15px 0px;
   }
}
.body__imge img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   -o-object-fit: cover;
   object-fit: cover;
}
.body__opis {
   padding: 0px 0px 0px 95px;
   color: #121212;
}
@media (max-width: 1090px) {
   .body__opis {
      padding: 0px 0px 0px 55px;
   }
}
@media (max-width: 990px) {
   .body__opis {
      padding: 0px 0px 0px 15px;
   }
}
@media (max-width: 650px) {
   .body__opis {
      max-width: 100%;
      padding: 0px 0px 0px 0px;
   }
}
.body__titel {
   font-weight: 700;
   line-height: 120%;
   font-size: calc(26px + 16 * (100vw - 320px) / 1080);
}
.body__titel:not(:last-child) {
   margin: 0px 0px 24px 0px;
}
@media (max-width: 650px) {
   .body__titel {
      text-align: center;
      text-transform: capitalize;
   }
   .body__titel:not(:last-child) {
      margin: 0px 0px 12px 0px;
   }
}
.body__text {
   line-height: 150%;
   font-size: calc(14px + 2 * (100vw - 320px) / 1080);
}
.body__text:not(:last-child) {
   margin: 0px 0px 32px 0px;
}
.body__button a {
   display: block;
   padding: 16px 40px;
   background: #e4c1ae;
   border-radius: 32px;
   max-width: 128px;
   color: #fff;
   -webkit-transition: all 1.5s ease 0s;
   transition: all 1.5s ease 0s;
}
.body__button a:hover {
   background: #f1a57c;
}
.body__button a:visited {
   background: #6b605a;
}

.my_modal {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(18, 18, 18, 0.5);
   z-index: 1050;
   display: none;
   margin: 0;
   padding: 0;
}
.my_modal:target {
   display: block;
   overflow-y: auto;
}
.my_modal-dialog {
   margin: 10% auto 0px 0px;
}
@media (max-width: 1000px) {
   .my_modal-dialog {
      margin: 20% auto 0px 0px;
   }
}
.my_modal-content {
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   background-color: #fff;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   border-radius: 6px;
   outline: 0;
   min-width: 920px;
   padding: 56px 0px 56px 95px;
}
@media (max-width: 1000px) {
   .my_modal-content {
      padding: 26px 0px 26px 55px;
      min-width: 100%;
   }
}
@media (max-width: 650px) {
   .my_modal-content {
      padding: 16px 0px 16px 25px;
      min-width: 100%;
   }
}
.my_modal-header {
   display: block;
   padding: 14px 14px 4px;
}
.my_modal-title {
   margin-top: 0;
   margin-bottom: 0;
   font-size: calc(26px + 16 * (100vw - 320px) / 1080);
   font-weight: 700;
   line-height: 120%;
   color: #121212;
   text-transform: uppercase;
}
.my_modal-body {
   position: relative;
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   padding: 15px;
   overflow: auto;
}

.close {
   padding: 1px 5px 0;
   border-radius: 50%;
   font-size: calc(16px + 8 * (100vw - 320px) / 1080);
   font-weight: 700;
   line-height: 1;
   color: #000;
   opacity: 0.5;
   text-decoration: none;
   top: 4px;
   right: 4px;
   position: absolute;
}
.close:focus,
.close:hover {
   color: #000;
   text-decoration: none;
   cursor: pointer;
   opacity: 0.75;
}
