@import "nullstayle.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300;8..144,700&display=swap");
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
/* ---------------------------------------------------------------------------- */
._container {
   max-width: 980px;
   margin: 0px auto;
   padding: 5px;
   @media (min-width: 1090px) {
      margin-top: 91px;
   }
   @media (min-width: 990px) {
      margin-top: 51px;
   }
}

//========================================================================================================================================================

.main-content {
   // .main-content__conteiner
   &__conteiner {
   }
   // .main-content__body
   &__body {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 650px) {
         flex-wrap: wrap;
      }
   }
}
//========================================================================================================================================================

.body {
   &__imge {
      position: relative;
      padding: 17% 26%;
      @media (max-width: 650px) {
         flex: 1 1 auto;
         &:not(:last-child) {
            margin: 0px 0px 15px 0px;
         }
      }
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
      }
   }
   // .body__opis
   &__opis {
      padding: 0px 0px 0px 95px;
      color: #121212;
      @media (max-width: 1090px) {
         padding: 0px 0px 0px 55px;
      }
      @media (max-width: 990px) {
         padding: 0px 0px 0px 15px;
      }
      @media (max-width: 650px) {
         max-width: 100%;
         padding: 0px 0px 0px 0px;
      }
   }
   // .body__titel
   &__titel {
      font-weight: 700;
      line-height: 120%;
      font-size: calc(26px + 16 * ((100vw - 320px) / (1400 - 320)));
      &:not(:last-child) {
         margin: 0px 0px 24px 0px;
      }
      @media (max-width: 650px) {
         &:not(:last-child) {
            margin: 0px 0px 12px 0px;
         }
         text-align: center;
         text-transform: capitalize;
      }
   }
   // .body__text
   &__text {
      line-height: 150%;
      font-size: calc(14px + 2 * ((100vw - 320px) / (1400 - 320)));
      &:not(:last-child) {
         margin: 0px 0px 32px 0px;
      }
   }
   &__button {
      a {
         display: block;
         padding: 16px 40px;
         background: #e4c1ae;
         border-radius: 32px;
         max-width: 128px;
         color: #fff;
         transition: all 1.5s ease 0s;
         &:hover {
            background: #f1a57c;
         }
         &:visited {
            background: #6b605a;
         }
      }
   }
}
//========================================================================================================================================================

.my {
   // .my_modal
   &_modal {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(18, 18, 18, 0.5);
      z-index: 1050;
      display: none;
      margin: 0;
      padding: 0;
      &:target {
         display: block;
         overflow-y: auto;
      }
   }

   // .my_modal-dialo3
   &_modal-dialog {
      margin: 10% auto 0px 0px;
      @media (max-width: 1000px) {
         margin: 20% auto 0px 0px;
      }
   }
   // .my_modal-content
   &_modal-content {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: #fff;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border-radius: 6px;
      outline: 0;
      min-width: 920px;
      padding: 56px 0px 56px 95px;
      @media (max-width: 1000px) {
         padding: 26px 0px 26px 55px;
         min-width: 100%;
      }
      @media (max-width: 650px) {
         padding: 16px 0px 16px 25px;
         min-width: 100%;
      }
   }
   // .my_modal-header
   &_modal-header {
      display: block;
      padding: 14px 14px 4px;
   }
   // .my_modal-title
   &_modal-title {
      margin-top: 0;
      margin-bottom: 0;
      font-size: calc(26px + 16 * ((100vw - 320px) / (1400 - 320)));
      font-weight: 700;
      line-height: 120%;
      color: #121212;
      text-transform: uppercase;
   }
   // .my_modal-body
   &_modal-body {
      position: relative;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 15px;
      overflow: auto;
   }
}
//========================================================================================================================================================

.close {
   padding: 1px 5px 0;
   border-radius: 50%;
   font-size: calc(16px + 8 * ((100vw - 320px) / (1400 - 320)));
   font-weight: 700;
   line-height: 1;
   color: #000;
   opacity: 0.5;
   text-decoration: none;
   top: 4px;
   right: 4px;
   position: absolute;
   &:focus,
   &:hover {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      opacity: 0.75;
   }
}
